.card {
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 100px;
  box-shadow: 0px 35px 70px 0px rgb(255,0,255), 0px 30px 40px -10px rgb(255,0,255);
  background: linear-gradient(180deg, #fff 0%, #fff 100%);
  border-radius: 20px;
  display: flex;
  flex-direction:column;
  align-content:center ;
}

@media screen and (max-width: 512px) {
  .card {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    align-items: center;
  }
}

.header {
  position:absolute;
  top:3%;
  right:1%;
}


.logo {
  padding-top: 5%;
  padding-left: 40%;
  padding-bottom: 0;
  height:40%;
  width: 80%;
  display: flex;
 
  
}

.social {
  display: flex;
  height: 20px;
  width: 5%;
  
}

.social a {
  display: inline-block;
  margin-right: 25px;
  transition: opacity 0.05s ease;
}

.social a:last-child {
  margin-right: 0;
}

.social a:hover {
  opacity: 0.75;
}

.social .icon {
  width: 60px;
  fill: #0000FF;
}

.content {
  flex: 1 1 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  
  
  padding-top: 5%;
}

.content .title-holder {
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

.content .title-holder h1 {
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.content .title-holder p {
  font-size: 20px;
  line-height: 2px;
  font-weight: 200;
  color:rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  .content .title-holder {
    max-width: 80%;
  }
}



.content .cta {
  min-width: 0px;
  background: #fff;
  border-radius: 5px;
  cursor:context-menu;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  transform: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.25, 0.315, 0.35), transform 0.1s linear;
  position:static;
  width:fit-content;
  margin-left: 800px;
  


}

.content .cta:hover {
  transform: translateY(-1px);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
}

.footer{
  margin-top: 1rem;
  padding: rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  height:5%;
  width: 100%;
  text-align: center;
  padding-top: 1%;
}

a.underlined:hover {
  border-bottom: 1px dotted #fff;
}
